* {

    margin: 0;
    padding: 0;
}

    /* Page: Home */

    /* Section: Banner */

    /* Navigation */

    .banner{
        background-image:url(../Banner/home.png);
        background-size: cover;
    }

    .artist{
        background-image:url(../Banner/artist.png);
        background-size: cover;
    }

    .art{
        background-image:url(../Banner/art.png);
        background-size: cover;
    }

    .logo{
        height: 100px;
        padding-right: 50px;
    }

    .banner, .artist, .art{

        width: 100%;
        height: 85vh;
    }

    nav {

        width: 100%;
        height: 20vh;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .banner li a, .artist li a, .art li a{
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        display: inline-block;
        list-style: none;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .banner li, .art li, .artist li {

        display: inline-block; 
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-container{
        background-color: #36008D;
        max-width: 1400px;
        overflow: auto;
    }

    .banner button, .artist button, .art button {

        padding: 15px;
        width: 100px;
        background-color: #FFB3C1;
        border-color: #36008D;
        border-radius: 10px;
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        color:#36008D;
        text-decoration: none;
    }

    .banner li a:hover, .art li a:hover, .artist li a:hover{
        color: #FFB3C1;
    }

    .banner button:hover, .artist-index button:hover{
        background-color:#aa3884;
    }

        /* Section: Featured */

            .featured-container{
                padding-left: 100px;
                align-self: flex-start;
                margin-top: 20px;
                max-width: 1400px;
                overflow: auto;
            }

            .featured {

                width: 100%;
                height: 100vh;
                background-color: #36008D;
            }

            .ftitle {

                padding: 40px;
                text-align: center;
                font-family: 'Finger Paint', 'cursive';
                font-size: 50px;
                letter-spacing: 5px;
                color: white;
            }

            .featured-figure {

                background-color: #FFB3C1;
                width: 350px;
                height: 450px;
                float: left;
                margin: 0 40px;
            }

            .featured-img {

                background-color: aquamarine;
                width: 300px;
                height: 300px;
                margin: 25px; 
                margin-bottom: 10px;
            }

            .featured-h6 {
                text-align: center;
                background-color: #E2E0E5;
                padding: 3px;
                width: 200px;
                margin: 0 auto;
                font-family: 'Finger Paint', 'cursive';
                font-size: 15px;
            }

                /* Section: About */

                .about {

                    width: 100%;
                    height: 100vh;
                    background-color: beige;
                }

                .about-div {


                    float: left;
                }

                .atitle {

                    padding: 40px;
                    text-align: center;
                    font-family: 'Finger Paint', 'cursive';
                    font-size: 50px;
                    color: #FFB3C1;
                }

                .about-div:nth-child(1) {
                    background-color: #36008D;
                    width: 40%;
                    height: 100vh;
                    font-family: 'Roboto','sans serif';
                    font-size: 17px;
                    color: white;
                    text-align: left;
                    line-height: 1.6;
                }

                .about-div:nth-child(2) {
                    width: 60%;
                    height: 100vh;
                    background-image: url(../Other/aboutus.png);
                    background-size: cover;
                }


                    /* Section: Sign-in */

                    .sign-in {

                        background-color: burlywood;
                        width: 100%;
                        height: 100vh;
                    }

                    .sign-div {
                        padding-top: 250px;
                        width: 50%;
                        height: 78vh;
                        float: left;
                    }

                    .sign-div:nth-child(1) {
                        background-image: url(../Other/artist.png);
                        background-size: contain;
                    }

                    .sign-div:nth-child(2) {
                        background-image: url(../Other/commissioner.png);
                        background-size: contain;
                    }

                    .sign-in button {
                        width: 250px;
                        top: 50%;
                        padding: 15px;
                        background-color: #FFB3C1;
                        border-color: #36008D;
                        border-radius: 10px;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 20px;
                        color:#36008D;
                        display: block;
                        margin: 60px auto;
                    }

                        /* Footer */

                        footer {

                            width: 100%;
                            height: 60vh;
                        }

                        footer div {

                            float: left;
                        }

                        .ftitle{
                            padding: 10px;
                            text-align: left;
                            font-family: 'Finger Paint', 'cursive';
                            font-size: 50px;
                            color: #FFB3C1;
                        }

                        footer div:nth-child(1) {
                            width: 40%;
                            height: 60vh;
                            background-color:#36008D;
                        }

                        footer div:nth-child(2) {
                            width: 60%;
                            height: 60vh;
                            background-color: #36008D;
                            font-family: 'Roboto','sans serif';
                            font-size: 20px;
                            color: white;
                            text-align: left;
                            line-height: 3;
                        }

                        .flogo{
                            height: 250px;
                            padding: 150px;
                            padding-top: 50px;
                        }           

                        aside {

                            float:left;
                            height: 5vh;
                            width: 100%;
                            background-color: black;
                            color: white;
                            padding-top: 10px;
                        }


    /* Page: Artist */

    /* Artist List */

    .artist-list {

        width: 100%;
        height: 200vh;
        background-color: azure;
        padding-top: 18vh;
    }

    /* Artist Containers */

    .artist-row {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .artist-figure {

        float: left;
        width: 35%;
        height: 50vh;
        background-color: gray; 
        border: 1px solid black;
    }

    .artist-figure:nth-child(1) {

        margin-right: 40px;
        margin-bottom: 100px;
    }

    .artist-figure:nth-child(2) {

        margin-left: 40px;
        margin-bottom: 100px;
    }

    /* Divs inside the containers: image / description */

    .artist-image {

        width: 50%;
        background-color: aliceblue;
        height: 100%;
    }

        /* Page: Artwork */

        /* Digital Art List */

        .artwork-list {

            width: 100%;
            height: 550vh;
            background-color:blanchedalmond;
        }

        .digital-arts, .drawing, .painting {

            width: 100%;
            height: 200vh;    
            border: 0px solid black;
        }

        .digital-arts-card {

            width: 380px;
            height: 75vh;
            float: left;
            margin: 20px 20px 20px 40px;
            background-color: aliceblue;
            border: 1px solid black;
        }

        .page-artwork-image {

            width: 350px;
            height: 50vh;
            margin-left: 15px;
            margin-top: 20px;
        }

        .art-title, .artist-num, .art-price {

            width: 300px;
            height: 30px;
            background-color:aqua;
            margin: 5px auto;
            text-align: center;
        }

            /* Page: Commission */

            .section-commission {

                width: 100%;
                height: 221vh;
                background-color:blanchedalmond

            }

            .commission-list {

                border: 0px solid black;
            }

            .commission-row {

                width: 100%;
                height: 100vh;
                border: 0px solid black;
            
            }

            .commission-card {

                width: 70%;
                height: 30vh;
                float: left;
                margin: 70px 20px 20px 20px;
                background-color: azure;
                
            }

            .commission-row button {

                width: 20%;
                height: 30vh;
                margin: 70px 20px 20px 20px;
                font-size: 25px;
            }

            .commission-card .commission-name {

                float: left;
            }

            .commission-card .done-label {

                float: right;
            }

    

            .art-name {

                margin-left: 30px;
            }

                /* Page: Sign-In */



                .sign-in-image {

                    width: 60%;
                    height: 100vh;
                    background-color:bisque;
                    float: left;
                }

                .log-in-form {

                    width: 40%;
                    height: 100vh;
                    float: left;
                }

                .log-in-logo {

                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: 20px auto;
                }

                h2 {

                    text-align: center;
                    font-size: 30px;
                    margin: 10px 0px;
                }

                form {

                    margin: 30px;
                }

                form label, form input {

                    width: 450px;
                    font-size: 20px;
                    margin: 15px;
                    
                }

                form input {

                    border: 0;
                    border-bottom: 1px solid violet;
                    height: 25px;
                    font-size: 14px;
                    padding: 5px;
                }

                form input:hover, form input:active {

                    border: 1px solid violet;
                }

                .log-in-btn {

                    display: block;
                    margin: 20px auto;
                }

                .account-prompt {

                    text-align: center;
                }
    
                
                    /* Page: Profile */

                    /* Banner Section */

                    .profile-info {

                        width: 100%;
                        height: 80vh;
                        background-color:aliceblue;
                    }

                    .profile-display {

                        height: 50vh;
                        background-color:antiquewhite;
                    }
                    
                    .profile-display, .information {

                        float: left;
                        width: 40%;
                        margin: 60px;
                    }
        
                    h2.name {

                        text-align: left;
                    }

                        /* Commission List */

                        .commission-profile {

                            width: 100%;
                            height: 415vh;
                            background-color: beige;
                        }

                            /* Art Commission */

                            .profile-art-commission {

                                width: 100%;
                                height: 100vh;
                            }

                            .profile-art-commission-div {

                                display: block;
                                margin-top: 30px;
                            }

                            .profile-img {

                                width: 90%;
                                height: 40vh;
                                display: block;
                                margin: 20px auto;
                            }

                            .profile-art-card {

                                width: 30%;
                                height: 60vh;
                                background-color: bisque;
                                float: left;
                                display: block;
                                margin: auto 20px;
                            }

                            .profile-art-title, .profile-figcaption{

                                font-size: 20px;
                                margin: 10px;
                            }




                                /* Commission List Contents */

                                .commission-profile-item {

                                    width: 80%;
                                    height: 25vh;
                                    background-color: bisque;
                                    margin: 10px auto;
                                }

                                .float-left {

                                    float: left;
                                    margin: 15px;
                                }

                                .float-right {

                                    float: right;
                                    margin: 15px;
                                }

                                .item-art-title {

                                    margin-left: 15px;
                                }

    /* Form: Commission */

    .form-commission {

        color: white;
    }

    header.left, h2.left {

        color: pink;
    }

    .form-commission-div, .form-upload-div {

        width: 50%;
        float: left;
        height: 100vh;
    }

    .form-commission-div {

        background-color: #36008D;
    }

    .form-upload-div {

        background-color: #36008D;
    }

    input {

        color: white;
    }

    .left {

        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }
    
    .form-margin-left {

        margin-left: 40px;
    }

    .remove-padding {

        padding-bottom: 10px;
    }

    .height {

        height: 20px;
        background-color: #36008D;
    }

    .lower-font {

        font-size: 16px;
    }

    textarea {

        margin: 10px 10px 10px 15px;
        background-color: #36008D;
    }

    input[type=file] {

        width: 80%;
        height: 60vh;
        background-color: gainsboro;
        display: block;
        margin: 40px auto;
    }

    .submit-btn, .back-btn {

        display: block;
        margin: 0 auto;
    }

        /* Form: Feedback */
    
    .form-feedback-section {

        width: 100%;
        height: 100vh;
        background-color: aliceblue;
        color: white;
    }

    .feedback-div, .feedback-img {

        width: 50%;
        height: 100vh;
        background-color: #36008D;
        float: left;
    }

    .feedback-img {

        background-color: antiquewhite;
    }

    .margin-bottom {

        margin-bottom: 30px;
    }

    .rating-label {

        margin: 20px 40px 0px 20px;
        display: inline-block;
    }
    
    .label-left {

        float: left;
    }

    .label-right {

        float: right;
    }

        /* Button Rating */

        .button-div {

            display: inline-block;
            font-size: 0px;
        }

        .button-rating {

            width: 100px;
            height: 60px;
            font-size: 16px;
            background-color: pink;
        }

        .button-rating:hover {

            opacity: 0.9;
        }

        /* Forms: Artwork Details, Form Commission for Clients, Form Commission for Artist */

        .center {

            display: block;
            margin: 20px auto;
        }

        .center-align-text {

            text-align: center;
            margin: 20px;
        }

        .margin-top {

            margin-top: 60px;
        }

        .color-pink {

            color: pink;
        }

        p {

            text-align: justify;
            margin: 0px 40px;
        }

        .float-left {

            float: left;
            margin: 0px 0px;
        }

        .artwork-container {

            width: 60%;
            height: 100vh;
            background-color: aliceblue;
        }

        .primary-color {

            background-color: #36008D;
        }

        .artwork-details {

            width: 40%;
            height: 100vh;
            color: white;
        }

        /* Form: Form for Clients */

        .half-width {

            width: 50%;
            height: 100vh;
            color: white;
        }

        input[type=text], input[type=email] {

            height: 15px;
        }

        legend {

            font-size: 20px;
            margin: 15px;
        }

        h4.margin-bottom {

            margin-left: 15px;
        }

        .form-for-client-image {

            width: 400px;
            height: 400px;
        }
