* {

    margin: 0;
    padding: 0;
}

    /* Page: Home */

    /* Section: Banner */

    /* Navigation */

    .banner, .artist-index{

        width: 100%;
        height: 100vh;
    }

    nav {

        width: 100%;
        height: 20vh;
        background-color: aliceblue;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    li {

        display: inline-block;
        padding: 40px;  
    }

    .logo {

        text-align: left;
    }

    h1 {

        text-align: center;
        margin: auto auto;
    }

    .banner button, .artist-index button {

        padding: 15px;
        width: 100px;
    }

        /* Section: Featured */

            .featured {

                width: 100%;
                height: 100vh;
                background-color: antiquewhite;
            }

            header {

                padding: 40px;
                text-align: center;
                font-size: 40px;
                letter-spacing: 10px;
            }

            .featured-figure {

                background-color: black;
                width: 350px;
                height: 450px;
                float: left;
                margin: 0 20px;
            }

            .featured-img {

                background-color: aquamarine;
                width: 300px;
                height: 300px;
                margin: 25px; 
            }

            .margin-left {

                margin-left: 110px;
            }

            .featured-h6 {

                background-color: azure;
                padding: 10px;
                width: 200px;
                margin: 0 auto;
            }

                /* Section: About */

                .about {

                    width: 100%;
                    height: 100vh;
                    background-color: beige;
                }

                .about-div {


                    float: left;
                }

                .about-div:nth-child(1) {

                    background-color:blanchedalmond;
                    width: 40%;
                    height: 100vh;
                }

                .about-div:nth-child(2) {

                    background-color:bisque;
                    width: 60%;
                    height: 100vh;
                }

                p {

                    margin: 0 30px;
                    text-align: left;
                    line-height: 1.6;
                }

                    /* Section: Sign-in */

                    .sign-in {

                        background-color: burlywood;
                        width: 100%;
                        height: 100vh;
                    }

                    .sign-div {

                        background-color: burlywood;
                        width: 50%;
                        height: 100vh;
                        float: left;
                    }

                    .sign-div:nth-child(2) {

                        background-color: aliceblue;
                    }

                    div button {

                        width: 250px;
                        padding: 10px;
                        margin: 10px;
                        top: 50%;
                    }

                    .home-button-sign, .home-button-apply {

                        display: block;
                        margin: 60px auto;
                    }

                        /* Footer */

                        footer {

                            width: 100%;
                            height: 60vh;
                        }

                        footer div {

                            float: left;
                        }

                        footer div:nth-child(1) {

                            width: 40%;
                            height: 60vh;
                            background-color: beige;
                        }

                        footer div:nth-child(2) {

                            width: 60%;
                            height: 60vh;
                            background-color: antiquewhite;
                        }

                        aside {

                            float:left;
                            height: 5vh;
                            width: 100%;
                            background-color: black;
                            color: white;
                            padding-top: 30px;
                        }


    /* Page: Artist */

    /* Artist List */

    .artist-list {

        width: 100%;
        height: 200vh;
        background-color: azure;
        padding-top: 18vh;
    }

    /* Artist Containers */

    .artist-row {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .artist-figure {

        float: left;
        width: 35%;
        height: 50vh;
        background-color: gray; 
        border: 1px solid black;
    }

    .artist-figure:nth-child(1) {

        margin-right: 40px;
        margin-bottom: 100px;
    }

    .artist-figure:nth-child(2) {

        margin-left: 40px;
        margin-bottom: 100px;
    }

    /* Divs inside the containers: image / description */

    .artist-image {

        width: 50%;
        background-color: aliceblue;
        height: 100%;
    }

        /* Page: Artwork */

        /* Digital Art List */

        .artwork-list {

            width: 100%;
            height: 550vh;
            background-color:blanchedalmond;
        }

        .digital-arts, .drawing, .painting {

            width: 100%;
            height: 200vh;    
            border: 0px solid black;
        }

        .digital-arts-card {

            width: 380px;
            height: 75vh;
            float: left;
            margin: 20px 20px 20px 40px;
            background-color: aliceblue;
            border: 1px solid black;
        }

        .page-artwork-image {

            width: 350px;
            height: 50vh;
            margin-left: 15px;
            margin-top: 20px;
        }

        .art-title, .artist-num, .art-price {

            width: 300px;
            height: 30px;
            background-color:aqua;
            margin: 5px auto;
            text-align: center;
        }

            /* Page: Commission */

            .section-commission {

                width: 100%;
                height: 221vh;
                background-color:blanchedalmond

            }

            .commission-list {

                border: 0px solid black;
            }

            .commission-row {

                width: 100%;
                height: 100vh;
                border: 0px solid black;
            
            }

            .commission-card {

                width: 70%;
                height: 30vh;
                float: left;
                margin: 70px 20px 20px 20px;
                background-color: azure;
                
            }

            .commission-row button {

                width: 20%;
                height: 30vh;
                margin: 70px 20px 20px 20px;
                font-size: 25px;
            }

            .commission-card .commission-name {

                float: left;
            }

            .commission-card .done-label {

                float: right;
            }

    

            .art-name {

                margin-left: 30px;
            }

                /* Page: Sign-In */



                .sign-in-image {

                    width: 60%;
                    height: 100vh;
                    background-color:bisque;
                    float: left;
                }

                .log-in-form {

                    width: 40%;
                    height: 100vh;
                    float: left;
                }

                .log-in-logo {

                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: 20px auto;
                }

                h2 {

                    text-align: center;
                    font-size: 30px;
                    margin: 10px 0px;
                }

                form {

                    margin: 30px;
                }

                form label, form input {

                    width: 450px;
                    font-size: 20px;
                    margin: 15px;
                    
                }

                form input {

                    border: 0;
                    border-bottom: 1px solid violet;
                    height: 25px;
                    font-size: 14px;
                    padding: 5px;
                }

                form input:hover, form input:active {

                    border: 1px solid violet;
                }

                .log-in-btn {

                    display: block;
                    margin: 20px auto;
                }

                .account-prompt {

                    text-align: center;
                }
    
        







    
