* {
    margin: 0;
    padding: 0;
}

    /* Page: Home */

    /* Section: Banner */

    /* Navigation */

    .banner{
        background-image:url(../Banner/home.png);
        background-size: cover;
    }

    .artist{
        background-image:url(../Banner/artist.png);
        background-size: cover;
    }

    .art{
        background-image:url(../Banner/art.png);
        background-size: cover;
    }

    .profile, .profile2{
        background-color: #36008D;
    }

    .logo{
        height: 100px;
        padding-right: 50px;
    }

    .banner, .artist, .art {
        width: 100%;
        height: 85vh;
    }

    .profile{
        width: 100%;
        height: 20vh
    }

    .profile2{
        width: 100%;
        height: 55vh
    }

    nav {
        width: 100%;
        height: 20vh;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .banner li a, .artist li a, .art li a, .profile li a{
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        display: inline-block;
        list-style: none;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .profile li a{
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        display: inline-block;
        list-style: none;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .banner li, .art li, .artist li, .profile li {
        display: inline-block; 
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-container{
        background-color: #36008D;
        max-width: 1400px;
        overflow: auto;
    }

    .nav2-container{
        background-color: #FFB3C1;
        max-width: 1400px;
        overflow: auto;
    }

    /*little button*/
    .banner button, .artist button, .art button, .profile button {
        padding: 15px;
        width: 110px;
        background-color: #FFB3C1;
        border-color: #36008D;
        border-radius: 10px;
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        color:#36008D;
        text-decoration: none;
    }

    .banner li a:hover, .art li a:hover, .artist li a:hover{
        color: #FFB3C1;
    }

    .profile li a:hover{
        color: #36008D;
    }

    .banner button:hover, .artist button:hover, .art button:hover, .sign-in button:hover, 
    .commission-row button:hover, .log-in-btn:hover, .long-btn:hover, .button-rating:hover, 
    .sign-as button:hover, .profile button:hover, .profile2 button:hover {
        opacity: 0.7;
    }

        /* Section: Featured */
            /*container without border*/
            .featured-container{
                padding-left: 110px;
                align-self: flex-start;
                margin-top: 20px;
                max-width: 1400px;
                overflow: auto;
            }


            .featured {
                width: 100%;
                height: 100vh;
                background-color: #36008D;
            }

            /*white title-center*/
            .fttitle {
                padding: 40px;
                text-align: center;
                font-family: 'Finger Paint', 'cursive';
                font-size: 50px;
                letter-spacing: 5px;
                color: white;
            }

            /*polaroid pink*/
            .featured-figure {
                background-color: #FFB3C1;
                width: 350px;
                height: 450px;
                float: left;
                margin: 0 40px;
                margin-bottom: 20px;
            }

            .featured-img {
                width: 300px;
                height: 300px;
                margin: 25px; 
                margin-bottom: 10px;
            }

            .featured-h6 {
                text-align: center;
                background-color: #E2E0E5;
                padding: 3px;
                width: 200px;
                margin: 0 auto;
                font-family: 'Finger Paint', 'cursive';
                font-size: 15px;
                color: black;
            }

                /* Section: About */

                .about {

                    width: 100%;
                    height: 100vh;
                    background-color: beige;
                }

                .about-div {
                    float: left;
                }

                /*pink title-center*/
                .atitle {

                    padding: 40px;
                    text-align: center;
                    font-family: 'Finger Paint', 'cursive';
                    font-size: 50px;
                    color: #FFB3C1;
                }

                .about-div:nth-child(1) {
                    background-color: #36008D;
                    width: 40%;
                    height: 100vh;
                }

                .about-div:nth-child(2) {
                    width: 60%;
                    height: 100vh;
                    background-image: url(../Other/aboutus.png);
                    background-size: cover;
                }


                    /* Section: Sign-in */

                    .sign-in {
                        width: 100%;
                        height: 100vh;
                    }

                    .sign-div {
                        padding-top: 250px;
                        width: 50%;
                        height: 78vh;
                        float: left;
                    }

                    .sign-div:nth-child(1) {
                        background-image: url(../Other/artist.png);
                        background-size: cover;
                    }

                    .sign-div:nth-child(2) {
                        background-image: url(../Other/commissioner.png);
                        background-size: cover;
                    }

                    .sign-in button {
                        width: 250px;
                        top: 50%;
                        padding: 15px;
                        background-color: #FFB3C1;
                        border-color: #36008D;
                        border-radius: 10px;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 20px;
                        color:#36008D;
                        margin: 60px auto;
                        margin-left: 240px; 
                    }

                        /* Violet Footer */

                        footer {
                            width: 100%;
                            height: 60vh;
                        }

                        footer div {
                            float: left;
                        }

                        /*pink title-left*/
                        .ftitle{
                            padding: 10px;
                            text-align: left;
                            font-family: 'Finger Paint', 'cursive';
                            font-size: 50px;
                            color: #FFB3C1;
                        }

                        .socmeds {
                            width: 40%;
                            height: 60vh;
                            background-color:#36008D;
                        }

                        .links {
                            width: 60%;
                            height: 60vh;
                            background-color: #36008D;
                            font-family: 'Roboto','sans serif';
                            font-size: 20px;
                            color: white;
                            text-align: left;
                            line-height: 3;
                        }

                        .flogo{
                            height: 250px;
                            padding: 150px;
                            padding-top: 50px;
                        }           

                        aside {

                            float:left;
                            height: 5vh;
                            width: 100%;
                            background-color: black;
                            color: white;
                            padding-top: 10px;
                        }

                        /* Pink Footer */

                        /*violet title-left*/
                        .ptitle{
                            padding: 10px;
                            text-align: left;
                            font-family: 'Finger Paint', 'cursive';
                            font-size: 50px;
                            color: #36008D;
                        }

                        .psocmeds {
                            width: 40%;
                            height: 60vh;
                            background-color:#FFB3C1;
                        }

                        .plinks {
                            width: 60%;
                            height: 60vh;
                            background-color: #FFB3C1;
                            font-family: 'Roboto','sans serif';
                            font-size: 20px;
                            color: black;
                            text-align: left;
                            line-height: 3;
                        }


    /* Page: Artist */

    /* Artist List */

    .artist-list {
        width: 100%;
        background-color: #E2E0E5;
        padding-top: 100px;
        overflow: auto;
    }

    /* Artist Containers */

    .artist-row {
        max-width: 100%;
        display:block;
        margin-left: 280px;
    }

    .artist-figure {
        float: left;
        width: 35%;
        height: 45vh;
        background-color: #36008D;
        border: 1px solid black;
    }

    .artist-figure:nth-child(1) {
        margin-right: 40px;
        margin-bottom: 100px;
    }

    .artist-figure:nth-child(2) {
        margin-left: 40px;
        margin-bottom: 100px;
    }

    /* Divs inside the containers: image / description */

    .artist-info {
        float: left;
        width: 50%;
        height: 100%;
    }

    .artist-image {
        float: left;
        width: 50%;
        height: 100%;
    }

    .artist-img{
        height: 150px;
        padding: 50px;
        padding-bottom: 20px;
    }

    .artist-h6 {
        text-align: center;
        width: 200px;
        margin: 0 auto;
        font-family: 'Finger Paint', 'cursive';
        font-size: 20px;
        color: white;
    }

    .artstyle {
        text-align: left;
        background-color: #FFB3C1;
        width: 180px;
        padding: 5px;
        margin-top: 35px;
        margin-bottom: 30px;
        font-family: 'Roboto','sans serif';
        font-size: 16px;
        color: black;
        line-height: 30px;
    }
    .rating {
        text-align: left;
        background-color: #FFB3C1;
        width: 180px;
        padding: 5px;
        font-family: 'Roboto','sans serif';
        font-size: 16px;
        color: black;
        line-height: 30px;
    }


        /* Page: Artwork */

        /* Digital Art List */

        .artwork-list {
            width: 100%;
            overflow: auto;
            background-color:#36008D;
            padding-bottom: 30px;
        }

        /*container with border*/
        .border-container{
            padding: 20px;
            padding-left: 30px;
            padding-right: 0px;
            margin-top: 30px;
            margin-left: 80px;
            margin-right:80px;
            align-self: flex-start;
            max-width: 1400px;
            border: 5px solid #00C9B8;
            overflow: auto;
        }

        /*aqua title-left*/
        .title {
            text-align: left;
            padding-bottom: 10px;
            font-family: 'Finger Paint', 'cursive';
            font-size: 50px;
            letter-spacing: 5px;
            color: #00C9B8;
        }

        .art-h7{
            text-align: center;
            background-color: #E2E0E5;
            padding: 3px;
            width: 200px;
            margin: 7px auto;
            font-family: 'Roboto','sans serif';
            font-size: 15px;
            color: black;
        }

        

            /* Page: Commission */

            .section-commission {
                width: 100%;
                overflow: auto;
                background-color:#E2E0E5;
                padding-bottom: 30px;

            }

            .commission-card {
                width: 70%;
                max-height: 25vh;
                float: left;
                margin: 20px 20px 20px 20px;
                border: 3px solid #36008D;
                padding: 20px;
                overflow: hidden;
            }

            .commission-row button {
                width: 20%;
                height: 27vh;
                margin: 18px 20px 20px 20px;
                padding: 15px;
                background-color: #FFB3C1;
                border-color: #36008D;
                border-radius: 10px;
                font-family: 'Roboto', 'sans serif';
                font-size: 25px;
                color:#36008D;
            }

            .commission-h3 {
                float: left;
                font-family: 'Roboto','sans serif';
                font-size: 17px;
                color: black;
            }
                /* Page: Sign-In */



                .sign-in-artist {
                    width: 50%;
                    height: 100vh;
                    float: left;
                    background-image: url(../Other/artist.png);
                    background-size: cover;
                }

                .sign-in-client {
                    width: 50%;
                    height: 100vh;
                    float: left;
                    background-image: url(../Other/commissioner.png);
                    background-size: cover;
                }

                .log-in-form {
                    width: 50%;
                    height: 100vh;
                    float: left;
                    background-color: #36008D;
                }

                .log-in-logo {
                    width: 120px;
                    height: 120px;
                    display: block;
                    margin: 15px auto;
                    margin-bottom: -25px;
                }

                /*small title-pink-center*/
                .small-title {
                    text-align: center;
                    font-family: 'Finger Paint', 'cursive';
                    font-size: 35px;
                    letter-spacing: 5px;
                    color: #FFB3C1;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .sign-form {
                    margin: 40px;
                    margin-left: 150px;
                }

                .log-in-form label {
                    width: 450px;
                    font-family: 'Roboto','sans serif';
                    font-size: 25px;
                    color: white;
                    margin-bottom: 5px;
                }

                .log-in-form input {
                    width: 450px;
                    border: 0;
                    border-bottom: 1px solid #FFB3C1;
                    background-color: #36008D;
                    height: 25px;
                    font-family: 'Roboto','sans serif';
                    font-size: 14px;
                    color: white;
                    padding: 5px;
                }

                form input:hover, form input:active {
                    border: 1px solid #FFB3C1;
                }

                /*big long button*/
                .log-in-btn {
                    margin: 20px auto;
                    width: 520px;
                    top: 50%;
                    padding: 10px;
                    background-color: #FFB3C1;
                    border-color: #36008D;
                    border-radius: 10px;
                    font-family: 'Roboto', 'sans serif';
                    font-size: 20px;
                    color:#36008D;
                    margin-left: 130px;
                }

                .how {
                    text-align: left;
                    font-family: 'Roboto','sans serif';
                    font-size: 20px;
                    color: white;
                    padding-left: 120px;
                    margin-top: -20px;
                    line-height: 30px;
                }

                .account-prompt {
                    text-align: center;
                    font-family: 'Roboto','sans serif';
                    font-size: 20px;
                    color: white;
                }

                .account-prompt a{
                    text-decoration: none;
                    color: #FFB3C1;
                }

     /* Collage Artwork Details */

     /* for controlling what the user see 100vh height*/
     .no-overflow {
        width: 100%;
        height: 100vh;
        overflow: hidden;
     }

     .artwork-container{
        width: 60%;
        height: 100vh;
        float: left;
        margin: 0px 0px;
     }

     /* Digital */

    .artwork-container#dg1 {
        background-image: url(../Collage/DG1.png);
        background-size: contain;
    }

    .artwork-container#dg2 {
        background-image: url(../Collage/DG2.png);
        background-size: contain;
    }

    .artwork-container#dg3 {
        background-image: url(../Collage/DG3.png);
        background-size: contain;
    }

    .artwork-container#dg4 {
        background-image: url(../Collage/DG4.png);
        background-size: contain;
    }

    .artwork-container#dg5 {
        background-image: url(../Collage/DG5.png);
        background-size: contain;
    }

    .artwork-container#dg6 {
        background-image: url(../Collage/DG6.png);
        background-size: contain;
    }

    /* Drawing */
    .artwork-container#dr1 {
        background-image: url(../Collage/DR1.png);
        background-size: contain;
    }

    .artwork-container#dr2 {
        background-image: url(../Collage/DR2.png);
        background-size: contain;
    }

    .artwork-container#dr3 {
        background-image: url(../Collage/DR3.png);
        background-size: contain;
    }

    .artwork-container#dr4 {
        background-image: url(../Collage/DR4.png);
        background-size: contain;
    }

    .artwork-container#dr5 {
        background-image: url(../Collage/DR5.png);
        background-size: contain;
    }

    /* Painting */
    .artwork-container#pt1 {
        background-image: url(../Collage/PT1.png);
        background-size: contain;
    }

    .artwork-container#pt2 {
        background-image: url(../Collage/PT2.png);
        background-size: contain;
    }

    .artwork-container#pt3 {
        background-image: url(../Collage/PT3.png);
        background-size: contain;
    }


    .artwork-details {
        width: 40%;
        height: 100vh;
        float: right;
        background-color: #36008D;
        height: 100vh;
    }

    /*for descriptions w/ big paddings - left*/
    .art-description{
        font-family: 'Roboto','sans serif';
        font-size: 17px;
        color: white;
        text-align: left;
        line-height: 1.6;
        padding: 30px;
        padding-top: 5px;
    }

    /*for title - roboto - center*/
    .roboto-title{
        font-family: 'Roboto','sans serif';
        font-size: 25px;
        color: white;
        text-align: center;
        padding-bottom: 30px;
    }

    /*long button*/
    .long-btn{
        margin: 10px auto;
        width: 400px;
        padding: 5px;
        background-color: #FFB3C1;
        border-color: #36008D;
        border-radius: 10px;
        font-family: 'Roboto', 'sans serif';
        font-size: 20px;
        color:#36008D;
        margin-left: 120px;
        margin-top: 20px
    }

    /* Form: Commission */

    .form-commission-div, .form-upload-div{
        width: 50%;
        float: left;
        height: 100vh;
        background-color: #36008D;
    }


    input[type=file] {
        width: 88%;
        float: left;
        display: block;
        margin-top: 40px;
        margin-left: 40px;
        background-color: #E2E0E5;
    }

    .preview {     
        width: 80%;
        max-height: 50%;
        margin-left:40.4px;
        background-color: #E2E0E5;
        font-family: 'Roboto','sans serif';
        font-size: 20px;
        font-weight: bold;
        color: black;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #image-preview{
        width: 100%;
        height: 100%;
    }

        /* Form: Feedback */

    .feedback label, .commission label {
        width: 492px;
        font-family: 'Roboto','sans serif';    
        font-size: 20px;    
        color: white;    
        margin-bottom: 10px;
        margin-left: 50px;        
    }

    .feedback input, .commission input{
        width: 492px;
        border: 0;
        border-bottom: 1px solid #FFB3C1;
        background-color: #36008D;
        height: 25px;
        font-family: 'Roboto','sans serif';
        font-size: 16px;
        color: white;
        padding: 5px;
        margin-left: 50px; 
    }

    form textarea{
        width: 492px;
        height: 120px;
        margin-left: 50px;
        border: 1px solid #FFB3C1;
        background-color: #36008D;
        font-family: 'Roboto','sans serif';
        font-size: 14px;
        color: white;
        padding: 5px;
    }

    form select{
        width: 500px;
        margin-left: 50px;
        border: 1px solid #FFB3C1;
        background-color: #36008D;
        font-family: 'Roboto','sans serif';
        font-size: 16px;
        color: white;
        padding: 10px;
    }

    .feedback-div{
        width: 50%;
        height: 100vh;
        background-color: #36008D;
        float: left;
    }

    .feedback-img {
        width: 50%;
        height: 100vh;
        background-image: url(../Other/Feedback.png);
        background-size: cover;
        float: left;
    }

    .label-left {
        float: left;
        font-family: 'Roboto','sans serif';    
        font-size: 20px;    
        color: white;    
        margin:20px;
        margin-left: 50px;     
    }

    .label-right {
        float: right;
        font-family: 'Roboto','sans serif';    
        font-size: 20px;    
        color: white;    
        margin:20px;
        margin-right: 220px;     
    }

        /* Button Rating */

        .button-div {
            margin-left: 50px; 
            display: inline-block;
            font-size: 0px;
        }

        .button-rating {
            width: 100px;
            height: 60px;
            background-color: #FFB3C1;
            font-family: 'Roboto','sans serif';
            font-size: 16px;
            color: black;
        }

        /* Sign As */
        
        .sign-as{
            width: 50vh;
            height: 50vh;
            background-image: url(../Other/signas.png);
            background-size: cover;
        }

        .sign-as button{
            width: 250px;
            padding: 10px;
            background-color: #FFB3C1;
            border-color: #36008D;
            border-radius: 10px;
            font-family: 'Roboto', 'sans serif';
            font-size: 20px;
            color:#36008D;
            margin: 30px auto;
            margin-left: 40px; 
        }

        .sign-as p {
            text-align: center;
            font-family: 'Finger Paint', 'cursive';
            font-size: 35px;
            letter-spacing: 5px;
            color: #36008D;
            padding:15px;
        }

         /* Page: Profile */

                    /* Banner Section */

                    .profile-sign {
                        padding: 15px;
                        width: 110px;
                        background-color: #FFB3C1;
                        border-color: #36008D;
                        border-radius: 10px;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 20px;
                        color:#36008D;
                        text-decoration: none;
                        float: right;
                        margin-right: 310px;
                        margin-top: 40px;
                    }

                    .logo2{
                        height: 100px;
                        margin-left: 310px;
                        margin-top: 20px;
                    }

                    .profile-container{
                        max-width: 750px;
                        max-height: 200px;
                        padding: 10px;
                        margin-left: 350px;
                        margin-top: 30px;
                    }

                    .profile-pic{
                        width: 30%;
                        float: left;
                    }

                    .artist-pic{
                        width: 70%;
                    }

                    .profile-details{
                        width: 70%;
                        float: left;
                        text-align: left;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 20px;
                        color:black;
                    }

                    .profile-details2{
                        width: 70%;
                        float: left;
                        text-align: left;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 20px;
                        color:white;
                    }

                    .commission-button{
                        max-height: 30vh;
                        padding: 11px;
                        margin: 10px
                    }

                    .commission-row2 button {
                        width: 20%;
                        height: 12vh;
                        margin: 10px;
                        padding: 15px;
                        background-color: #FFB3C1;
                        border-color: #36008D;
                        border-radius: 10px;
                        font-family: 'Roboto', 'sans serif';
                        font-size: 25px;
                        color:#36008D;
                        cursor: pointer;
                    }


                        /* Commission List */
                            .details-card {
                                width: 90%;
                                height: 20vh;
                                float: left;
                                margin: 20px 20px 20px 20px;
                                border: 3px solid #36008D;
                                padding: 20px;
                            }

                        /*container with border does not overflow*/
                            .border-contain{
                                padding: 20px;
                                padding-left: 30px;
                                padding-right: 0px;
                                margin: 30px 80px 30px 80px ;
                                align-self: flex-start;
                                max-width: 1400px;
                                border: 5px solid #00C9B8;
                                max-height: 68vh;
                                overflow: auto;
                            }

                            .ave-container{
                                max-width: 120px;
                                max-height: 40px;
                                padding-left: 10px;
                            }

                            .average:nth-child(1) {
                                width: 50%;
                                font-family: 'Roboto', 'sans serif';
                                font-size: 40px;
                                color:#FE5E54;
                                float: left;
                            }

                            .average:nth-child(2) {
                                width: 50%;
                                font-family: 'Roboto', 'sans serif';
                                font-size: 20px;
                                color:black;
                                float: right;
                                text-align: center; 
                            }

                            .grade{
                                font-family: 'Roboto', 'sans serif';
                                font-size: 17px;
                                color:#FE5E54;
                            }

                            .bg-modal{
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.7);
                                position: absolute;
                                top: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                display: none;
                            }

                            .modal-content{
                                width: 60%;
                                height: 62%;
                                background-color: #36008D;
                            }

    /* Form: Form for Clients */

    .half:nth-child(1){
        width: 50%;
        height: 100%;
        background-color: #36008D;
        float: left;
    }

    .half:nth-child(2){
        width: 50%;
        height: 100%;
        background-color: #36008D;
        float: left;
    }

    .image-from-client {
        margin-left: 20px;
        margin-top: 45px;
        width: 400px;
        height: 300px;
        background-image: url(../Collage/PT3.png);
        background-size: contain;
    }

    /*for descriptions w/ little paddings - left*/
    .little-description{
        font-family: 'Roboto','sans serif';
        font-size: 17px;
        color: white;
        text-align: left;
        padding: 7px;
        padding-left:30px;
    }

    .little-description2{
        font-family: 'Roboto','sans serif';
        font-size: 14px;
        color: white;
        text-align: left;
        padding-left:30px;
    }

    .close{
        position: absolute;
        top: 135px;
        right: 315px;
        font-size: 42px;
        transform: rotate(45deg);
        color: white;
        cursor: pointer;
    }
